[credential]
	helper =
[user]
	name = Saurav Mitra
	email = thesauravmitra@gmail.com
[alias]
	root = !pwd
[url "https://github.com/thesauravmitra/"]
	insteadOf = _my:
[url "git@github:thesauravmitra/"]
	insteadOf = my:
[core]
	excludesfile = ~/.gitignore.system
