[credential]
	helper =
[user]
	name = Saurav Mitra
	email = mitrasaurav97@gmail.com
[alias]
	root = !pwd
[url "https://github.com/sauravm97/"]
	insteadOf = _my:
[url "git@github:sauravm97/"]
	insteadOf = my:
[core]
	excludesfile = /Users/smitra/.gitignore.system
