set completion-ignore-case On
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[1;91m\2>>\1\e[0m\2
set emacs-mode-string \1\e[1;35m\2$$\1\e[0m\2
set vi-cmd-mode-string "\xe2\x94\x81 "
set editing-mode vi

set keymap emacs
"\ee": vi-editing-mode
"jk": "\ee\e\e"
"kj": "\ee\e\e"

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
"\C-n": menu-complete
"\C-p": menu-complete-backward
"\C-y": history-search-backward
"\C-g": history-search-forward
Space: magic-space

set keymap vi-command
#"i": emacs-editing-mode
"'": emacs-editing-mode
"m": "'\e[C"

"\C-x\C-r": re-read-init-file
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
"\C-n": menu-complete
"\C-p": menu-complete-backward
"\C-y": history-search-backward
"\C-g": history-search-forward
Space: magic-space


set keymap vi-insert
"jk": vi-movement-mode
"kj": vi-movement-mode

"\C-x\C-r": re-read-init-file
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
"\C-n": menu-complete
"\C-p": menu-complete-backward
"\C-y": history-search-backward
"\C-g": history-search-forward
